.logo {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 48px;
    /* or 160% */
    letter-spacing: -0.02em;
    color: #0A1B32;
    margin-top: 30px;
    margin-left: 20px;
}

.logo-dot {
    color: #A3DC00;
}


.main-title {
    max-width: 495px;
    width: 100%;
    margin-top: 20px;
    margin-left: 5px;
    font-family: 'Ramaraja', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 76px;
    /* or 106% */
    letter-spacing: 0.02em;
    color: #1B0A42;
}
.card-title {
    max-width: 200px;
    width: 100%;
    margin-top: 20px;
    margin-left: 5px;
    font-family: 'Ramaraja', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 40px;
    /* or 106% */
    letter-spacing: 0.02em;
    color: #1B0A42;
}





.main-info {
    max-width: 583px;
    width: 100%;
    margin-top: 10px;
    margin-left: 5px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    /* or 160% */
    letter-spacing: 0.02em;
    color: #9A9A9A;
}

.card-info {
    max-width: 400px;
    
    margin-top: 10px;
    margin-left: 5px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    /* or 160% */
    letter-spacing: 0.02em;
    color: #9A9A9A;
}
card-info1 {
    max-width: 400px;
    
    margin-top: 10px;
    margin-left: 5px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 32px;
    /* or 160% */
    letter-spacing: 0.02em;
    color: #9A9A9A;
}



.main-title1 {
    max-width: 495px;
    width: 100%;
    margin-top: 20px;
    margin-left: 250px;
    font-family: 'Ramaraja', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 50px;
    /* or 106% */
    letter-spacing: 0.02em;
    color: #1B0A42;
}



.main-btn {
    width: 152px;
    height: 64px;
    margin-top: 50px;
    margin-left: 25px;
    background-color: #A3DC00;
    border-radius: 6px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
    /* or 200% */
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    border: none;
}
.main-btn1 {
    width: 152px;
    height: 64px;
    margin-top: 2px;
    margin-left: 365px;
    background-color: #A3DC00;
    border-radius: 6px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
    /* or 200% */
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    border: none;
}




.navcontainer ul li {
  display: inline;
  margin-left: 200px;
  margin-top: 20px;
  width: 800px
}

  

 .navcontainer ul li a:hover
{
  color: #fff;
  background-color: #369;
}




.navcontainer ul li a
{
  text-decoration: none;
  padding: .2em 1em;
  color: #fff;
  background-color: #036;
  width: 800px;
}

 .navcontainer ul li a:hover
{
  color: #fff;
  background-color: #369;
}

.img {
    width: 250px;
    height: 200px;
    margin-top: 20px;
    margin-left: 390px;
}

.section {
    display: inline-block;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 5px; 

}

.card {
    max-width: 200px;
    min-height: 200px;
    background-color: white;
    
    margin: 20px;
    padding: 10px;
    display: flex;
    position: relative;
}
.card1 {
    max-width: 600px;
    min-height: 200px;
    background-color: white;
    
    margin: 5px;
    padding: 5px;
    display: flex;
    position: relative;
}

footer {
    width: 100%;
    height: 400px;
    background-color: blue;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.container_footer {
    display:flex;
    flex-direction: row;
    width: 95%;
} 
a {
    color: black;
    text-decoration: none;
}
a:visited{
    color: black;  
}
.container_footer li {
    list-style-type: none;
}
.footer-li:hover {
    transform: scale(1.2);
}
.footer-column-left {
    transform:
        translateX(200px);
}
.footer-column-middle {
    transform:
        translateX(200px);
}
.footer-column-right {
    transform:
        translateX(200px);
}
/* footer form */
.form_footer{
    transform: 
        translateX(250px);
}
.label_form {
    font-family: 'Cinzel', serif;
    font-size: 20px;
    color: black;
}


}
#email {
    max-width: 226xp;
    max-height: 45px;
    margin-top: 13px;
    margin-bottom: 13px;
}



@media screen and (max-width: 950px){
    .footer-column-left {
        transform:
            translateX(100px);
    }
    .footer-column-middle {
        transform:
            translateX(100px);
    }
    .footer-column-right {
        transform:
            translateX(100px);
    }
    .form_footer{
        transform: 
            translateX(150px);
    }
}
@media screen and (max-width: 850px){
}


